<div class="dayview">
    <ion-slide-box class="dayview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
                   show-pager="false" delegate-handle="dayview-slide">
        <ion-slide ng-repeat="view in views track by $index">
            <!-- <div class="dayview-allday-table">
                <table class="dayview-allday-content-wrapper" has-bouncing="false" overflow-scroll="false">
                        <tbody>
                        <tr>
                            <td class="calendar-hour-column text-center">
                                <h3>{{displayDate | date : 'dd/MM'}}</h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div> -->
            <div class="dayview-allday-table">
                <td class="calendar-hour-column text-center">
                    <h3>{{displayDate | date : 'dd/MM'}}</h3>
                </td>
            </div>
            <ion-content class="dayview-normal-event-container" has-bouncing="false" overflow-scroll="false">
                <table class="table table-bordered table-fixed dayview-normal-event-table"
                       ng-if="$index===currentViewIndex">
                    <tbody>
                    <tr ng-repeat="tm in view.rows">  <!-- track by $index -->
                        <td class="calendar-hour-column text-center">
                            {{::tm.time | date: formatHourColumn}}
                        </td>
                        <td class="calendar-cell" ng-click="select(tm.time, tm.events)">
                            <div ng-class="{'calendar-event-wrap': tm.events,'row-selected-time': (tm.time == seleccion)}" ng-if="tm.events">
                                <div ng-repeat="displayEvent in tm.events" class="calendar-event"
                                     ng-click="eventSelected({event:displayEvent.event})"
                                     ng-style="{top: (37*displayEvent.startOffset/hourParts)+'px', left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}"
                                     ng-include="::normalEventTemplateUrl">
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-fixed dayview-normal-event-table"
                       ng-if="$index!==currentViewIndex">
                    <tbody>
                    <tr ng-repeat="tm in view.rows">  <!-- track by $index" -->
                        <td class="calendar-hour-column text-center">
                            {{::tm.time | date: formatHourColumn}}
                        </td>
                        <td class="calendar-cell">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</div>
