<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Integrantes</h1>
   </ion-header-bar>
	
   <ion-content>
   		<div class="list card" id="torneos-card21" ng-repeat="e in equipo.jugadores">

		<a class="item item-icon-left">
			<i class="icon ion-ios-contact"></i>
			<div class="row">
		      	<div class="col-90">			
					<p>DNI: <b>{{e.dni}}</b>, Nombre/Apellido: <b>{{e.nombre}}</b></p>
				</div>
		      	<div class="col-10">
					<button class="button button-small button-assertive" ng-click="eliminarJugador(equipo, e.dni)">Eliminar</button>
			    </div>
			</div>		      		
		</a>
		
</div>
		<div class="button-bar">
		  <a class="button button-positive" ng-click="nuevoJugador(equipo)">Agregar jugador</a>
		  <a class="button button-assertive" ng-click="closeIntegrantes()">Cerrar</a>
		
	</div>
   </ion-content>

</ion-modal-view>