<ion-modal-view>
	<ion-content>

			<md-subheader class="md-no-sticky colorText fondoReserva">Fecha</md-subheader>
			<div layout="row" layout-align="center center" class="padding">
				<b>Día: </b>
				<md-datepicker ng-model="reserva.fecha" disabled ></md-datepicker>
			</div>

			<div layout="row" layout-align="center center"	class="block">

				<div rg-range-picker="horario"></div>

      		</div>


      		<md-subheader class="md-no-sticky colorText fondoReserva">Cancha</md-subheader>
  			<!-- Cancha [Nombre,tipo,jugadores,luz (s/n)] -->
  			<div layout="row" class="padding colorText">
  				<div layout="column" flex="50">
					<md-input-container >
				        <label>Cancha</label>
				        <input disabled value="{{cancha.nombre}}">
			      	</md-input-container>
  				</div>
  				<div layout="column"  flex="50">
  					<md-input-container>
				        <label>Tipo</label>
				        <input disabled value="{{cancha.piso}}">
			      	</md-input-container>
  				</div>
  			</div>
  			<div layout="row" class="padding">
  				<div layout="column" flex="50">
					<md-input-container>
				        <label>Cantidad de jugadores</label>
				        <input disabled value="{{cancha.cantJug}}">
			      	</md-input-container>
  				</div>
  				<div layout="column"  flex="50">
			        <label class="colorText">Iluminación</label>
			        <md-checkbox aria-label="Close" class="dotted" disabled ng-checked="{{cancha.luz}}"></md-checkbox>
  				</div>
  			</div>

  			<md-subheader class="md-no-sticky colorText fondoReserva">Pago</md-subheader>
  			<div layout="row" class="padding">
  				<div layout="column" flex="33">
					<md-input-container>
				        <label>Importe total</label>
				        <input disabled value="${{ fechaSeleccionada.getHours() <= 18 ? cancha.pDiurno : + cancha.pNocturno }}">
			      	</md-input-container>
  				</div>
  				<div layout="column"  flex="33">
  					<md-input-container>
				        <label>Importe reserva</label>
				        <input disabled value="${{ fechaSeleccionada.getHours() <= 18 ? (cancha.pDiurno * 0.10) : (cancha.pNocturno * 0.10) }}">
			      	</md-input-container>
  				</div>

  				<div layout="column" flex="33">
					<button style="margin-top:15px" 
						class="button button-positive" ng-click="modalPago.show()">Pagar</button>
  				</div>
  			</div>

			<button class="button button-assertive button-block" ng-click="closeReserva()">Cerrar</button>

	</ion-content>
</ion-modal-view>
