<ion-view>

    <ion-content scroll="true" class="main-content has-header">
    	<div class="row">
	        <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode"
	                  time-selected="onTimeSelected(selectedTime, events)" step="30"></calendar>
      	</div>

      	<!-- REPETIR -->
      	<div layout="row" layout-align="center center" style="background-color:white">
			<div class="col-25" style="text-align:center">
				<b>Inicio</b>
			</div>
			<div class="col">
				<md-datepicker ng-model="reserva.fechaInicio" disabled></md-datepicker>
			</div>
		</div>

		<div layout="row" layout-align="center center" style="background-color:white">
			<button class="button button-positive button-block" ng-click="loadEvents()">Ir a día</button>
		</div>

    </ion-content>

</ion-view>