<ion-view title="Canchas" class="fondo">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="canchas-card21" ng-repeat="c in canchas">
            <ion-item class="item-icon-right" id="canchas-list-item1">{{c.nombre}}
                <i class="icon ion-ios-football-outline"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="http://localhost:3001/img/{{c.foto}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="canchas-markdown1" style="color:#000000;text-align:center;" class="padding-top">
                <p>
                    <strong>Jugadores</strong>: {{c.cantJug}} -
                    <strong>Tipo de piso</strong>: {{c.piso}} -
                    <strong>Infraestructura</strong>: {{(c.techo == true ? 'Techada' : 'Sin techo')}}. {{c.luz == true ? 'Iluminada' : 'Sin luz'}}</p>
            </div>
            <button ng-click="verDisponibilidad(c)" class="button button-positive button-block">Ver Disponibilidad</button>
            
        </div>
    </ion-content>
</ion-view>

<style type="text/css">
    .item-icon-right.item{
        color: white;
        background-color: green;
        opacity: 0.5;
    }
    .button.button-positive.button-block{
        background-color: green;
        opacity: 0.5;
        border-color: white;
    }


</style>