<ion-view title="Contacto">
<tr>
<td>
    <ion-content scroll="true">
            <div class="row">
                <div class="col-20"></div>
                <div class="col-60">
                    <div class="row">
                        <img class="img-perfil" src="{{urlImagenes}}{{datos.imagen}}">
                    </div>
                    <div class="row">
                    </div>
                    <div style="text-align:center;">
                        <h3><b>{{datos.nombre}}</b></h3>
                    </div>
                    <div style="text-align:center;">
                        <h5><b>Telefono: {{datos.telefono}}</b></h5>
                    </div>
                    <div style="text-align:center;">
                        <h5><b>Mail: {{datos.mail}}</b></h5>
                    </div>
                    <div style="text-align:center;">
                        <h5><b>Dirección {{datos.direccion}}</b></h5>
                    </div>
                    <div style="text-align:center;">
                        <h5><b>Horario: {{datos.horaApertura}} a {{datos.horaCierre}}</b></h5>
                    </div>
                </div>
                <div class="col-20"></div>
            </div>
</td>

</ion-view>     

<style type="text/css">
    h3, h5, h5{
        color:white;
    }

    .pane, .view {
        background: url("./img/1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
    .img-perfil{
        margin-top: 20px;
        width: 180px;
        height: 180px;
    }



</style>