 <ion-view view-title={{viewTitle}} class="fondo">
    <ion-content class="has-header">

      <div ng-repeat="r in reservas" class="item item-icon-left item-button-right row">

        <div class="col-10">
          <i class="icon ion-ios-football-outline"></i>
        </div>

        <div class="col">
          <h2>Cancha 3</h2>
          <p>15/10 - 18:00 hs</p> 
        </div>

        <div class="col"> 
          <div class="row">
            <div class="col">
              <button class="button button-positive" ng-click="openReserva(r)">
                Detalles
              </button>
            </div>
          </div>
        </div>

      </div>
    
      <div ng-show="reservas.length <= 0">
          <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">No se encontraron reservas</span>
            <span class="md-subhead">Para realizar una reserva, dirigase a la sección de canchas</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
          </div>
      </div>
        
      <!-- <button class="button button-block button-positive" ng-click="getReservas()">
        Obtener Reservas
      </button>-->
        
    </ion-content>
</ion-view>

<style type="text/css">

  tbody  {
    background-color: white;
      
    }
  .scroll-content .ionic-scroll{
    background-image: url("./img/1.jpg");
  }
  .scroll{
    margin-top: 0;
  }
  .monthview-slide {
    height: 260px;
  }

  

</style>