<ion-view title="Perfil">

    <ion-content scroll="true">
        
        <div class="hero slide-up" style="background-color: blue;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/VTrEvT4I.jpeg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs">
        <ion-tabs>
            <ion-tab title="Datos" icon="ion-android-list" href="#/perfil/misdatos">
                <ion-nav-view name="misdatos-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Mis Equipos" icon="ion-ionic" href="#/perfil/misequipos">
                <ion-nav-view name="misequipos-tab"></ion-nav-view>
            </ion-tab>
             <ion-tab title="Mis Grupos" icon="ion-android-people" href="#/perfil/misgrupos">
                <ion-nav-view name="misgrupos-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
        </div>
        <!--
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <div class="row">
                        <img class="img-perfil" src="img/VTrEvT4I.jpeg">
                    </div>
                    <div style="text-align:center;">
                        <h2>Miguel Piñeyro</h2>
                    </div>
                </div>
                <div class="col-25"></div>
            </div>

            <div class="row">            
                
            </div>  -->
    </ion-content>

</ion-view>     

<style type="text/css">

    .pane {
        background: url("./img/1.jpg");
        background-image: url("./img/1.jpg");
    }


</style>