
<ion-view title="Torneo" class="fondo">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="torneos-card21" ng-repeat="c in torneos">
            <ion-item class="item-icon-right" id="torneos-list-item1">{{c.nombre}}
                <i class="icon ion-ios-football-outline"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="http://localhost:3001/img/{{c.foto}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="torneos-markdown1" style="color:#000000;text-align:center;" class="padding-top">
                <p>
                    <strong>Equipos</strong>: {{c.cantEquipos}} -
                    <strong>Jugadores</strong>: {{c.jugTitulares + c.jugSuplentes}} -
                    <strong>Tipo de torneo</strong>: {{c.tipo}} -
                    <strong>Fecha de Incio</strong>: {{c.fechaInicio | date:'dd/MM/yyyy'}} -</p>
            </div>
            <button ng-click="openTorneo(c)" class="button button-positive button-block">Inscripción</button>
            
        </div>
    
    </ion-content>
</ion-view>

<style type="text/css">
    .item-icon-right.item{
        color: white;
        background-color: green;
        opacity: 0.5;
    }
    .button.button-positive.button-block{
        background-color: green;
        opacity: 0.5;
    }

</style>

