<script>
var app = angular.module('myApp', []);
myApp.filter('yesNo', function () {
  return function (boolean) {
    return boolean ? 'Ok' : 'No';
  }
});
</script>



<div id="expand-box-header" class="clearfix">
  <span style="float: left;"><h1 align="left"><b>RESERVAS</b></h1></span> 
  <span style="float: right;"><h1> Bloquear reservas <checkbox larger class="btn-primary"
    ng-model="checkReservasLocked"              
    ng-change="onChange()"                    
    ></checkbox></h1></span>
 </div>

<!--
<div>
  <button type="button" data-toggle="modal" ng-click="verificarReservas()" class="btn btn-info btn-sm">Verificar reservas incumplidas</button>
</div>
--> 

<div id="example">
    <div ng-controller="schedulerController">
        <div kendo-scheduler="sche" k-options="schedulerOptions">
            <span k-event-template class='custom-event'>{{dataItem.username}}</span>
            <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.username}}</div>
        </div>
    </div>




<script id="customEditorTemplate" type="text/x-kendo-template">


<!-- notice how the Title is hidden if the event is new -->
<div class="k-edit-label"><label for="username">User</label></div>
<div data-container-for="title" class="k-edit-field">
    <select id="username" name="username" data-bind="value:username" data-role="dropdownlist" 
                    data-value-field="value" data-text-field="text" data-filter="contains" required>
      <option ng-repeat="usuario in usuarios">{{usuario.username}}</option>
              
  </select>
  <div ng-show="incumplimiento"><font color="red"><b>El usuario no está habilitado para reservar.</b></font></div>
</div>

<div class="k-edit-label"><label for="start">Inicio</label></div>
<div data-container-for="start" class="k-edit-field">
    <input  kendo-date-time-picker k-on-change="onDateSelectedInicio(kendoEvent)" type="text" 
           data-role="datetimepicker"
           data-interval="60"
           data-type="date"
           data-bind="value:start,invisible:isAllDay"
           name="start"/>
    <input type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />
    <span data-bind="text: startTimezone"></span>
    <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
    <div ng-show="errorHoraInicioComplejo"><b>El horario de inicio está fuera del horario del complejo</b></div>
</div>

<div class="k-edit-label"><label for="end">Fin</label></div>
<div data-container-for="end" class="k-edit-field">
    <input kendo-date-time-picker k-on-change="onDateSelectedFin(kendoEvent)" type="text" 
    data-type="date" 
    data-role="datetimepicker" 
    data-bind="value:end,invisible:isAllDay" 
    name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
    <input type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" 
      name="end" data-datecompare-msg=" La fecha de fin debe ser maryor a la fecha de inicio" />
    <span data-bind="text: endTimezone"></span>
    <span data-bind="text: startTimezone, invisible: endTimezone"></span>
    <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
    <div ng-show="errorHoraFinComplejo"><b>El horario de finalizacion está fuera del horario del complejo</b></div>
    <div ng-show="canchaSinLuz"><b>La cancha seleccionada no posee luz. Por favor cambie el horario de reserva.</b></div>
</div>

<div class="k-edit-label"><label for="recurrenceRule">Repetir</label></div>
<div data-container-for="recurrenceRule" class="k-edit-field">
    <div data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
</div>

<div class="k-edit-label"><label for="description">Descripción</label></div>
<div data-container-for="description" class="k-edit-field" >
    <textarea name="description" class="k-textbox" data-bind="value:description"></textarea>
  </div>

<div class="k-edit-label"><label for="cancha">Cancha</label></div>

    <div data-container-for="cancha" class="k-edit-field">
        <select kendo-drop-down-list id="cancha" name="cancha" data-bind="value:cancha" data-role="dropdownlist" 
          data-value-field="value" data-text-field="text" ng-model="selected" ng-change="cambioCancha(selected, kendoEvent)" 
          required="required">
          <option selected disabled value="">Seleccionar</option>
          <option ng-repeat="cancha in data track by cancha.value" value="{{cancha.value}}" >{{cancha.text}}</option>  
        </select>
    <div ng-show="canchaUsada"><b>La cancha no se encuentra disponible</b></div>
    <div ng-show="canchaSinLuz"><b>La cancha seleccionada no posee luz. Por favor cambie el horario de reserva o seleccione otra cancha</b></div>
</div>

<div class="k-edit-label"><label for="total" ng-show="mostrar">Total</label></div>
  <div data-container-for="total" class="k-edit-field" ng-show="mostrar">
    <div class="input-group col-sm-4">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" ng-model="precioTotal"  id="precio1" data-bind="value:precioTotal" readonly>
   </div>
</div> 

<div class="k-edit-label"><label for="reserva" ng-show="mostrar">Reserva</label></div>
  <div data-container-for="reserva" class="k-edit-field" ng-show="mostrar">
    <div class="input-group col-sm-4">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control" id="reserva" name="reserva" readonly="true" ng-model="reserva" data-bind="reserva">
    </div>
</div>

<div class="k-edit-label"><label for="saldo" ng-show="mostrar">Saldo</label></div>
  <div data-container-for="saldo" class="k-edit-field" ng-show="mostrar">
    <div class="input-group col-sm-4">
        <span class="input-group-addon">$</span>
        <input type="number" style="text-align: right;" class="form-control" id="saldo" name="saldo" readonly="true" ng-model="saldo" data-bind="value:saldo">
    </div>

</div> 
 
<div class="btn-group col-sm-11" align="center">
<div ng-show="horarioAnterior"><b>No se pueden crear reservas con fechas anteriores a la actual</b></div>
<button type="button" class="btn btn-info" ng-disabled="!(dataItem.saldo != '0')"  style="width:100%" align="center" data-toggle="modal" ng-click="open(this)">Pagar</button>
</div>
<div ng-show="verFechaReserva" class="btn-group col-sm-11" align="right" >
La reserva se realizó el día: {{fechaDeReserva}}
</div>

</script>



<style>
html
{
    font: 12px sans-serif;
    
}

html,
body,
#example,
#scheduler
{
    margin: 0;
    padding: 0;
    height: 100%;
    border-width: 0;
}
</style>




<script type="text/ng-template" id="pagoTarjeta.html">

  <form id="ccForm" name="ccForm" role="form" data-toggle="validator">

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">PAGO</h4>
    </div>
    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
              <label for="formaPago">Forma de pago:</label>
              <select class="form-control" id="formaPago" name="formaPago" ng-model="pago.formaPago" required="">
                <option value="" disabled selected>Seleccionar</option>
                <option>Efectivo</option>
                <option>Tarjeta</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="concepto">Concepto:</label>
                <select class="form-control" id="concepto" name="concepto" ng-model="miConcepto" required="" ng-change="cambioConcepto()">
                <option value="" disabled selected>Seleccionar</option>
                <option ng-repeat="concept in opcionesConcepto" ng-disabled="!concept.visible" value="{{concept.nombre}}">
                {{concept.nombre}}
              </option>
                </select>
            </div>
            <div class="col-md-4">
              <label for="concepto">Total:</label>
                <input type="number" style="text-align: right;" class="form-control" id="aPagar" name="aPagar" readonly="true" ng-model="aPagar">
            </div>
        </div>
    </div>

    <div class="modal-body" ng-if="pago.formaPago == 'Tarjeta'">
        <div class="container">
            <div class="form-group">           
              <div class="container">
                <div class="col-sm-6">
                  <fieldset>
                      <div class="control-group">
                        <label label-default="" class="control-label">NOMBRE TITULAR</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-md-8">
                              <input type="text" class="form-control" pattern="\w+ \w+.*" title="Nombre y apellido" ng-required="true">
                              </div>
                          </div>  
                        </div>
                      </div>
                      <div class="control-group">
                        <label label-default="" class="control-label">Número de Tarjeta</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-md-8">
                              <input type="text" class="form-control" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number" cc-format required="">
                            </div>
                            <div class="col-xs-3">
                              <label label-default="" class="control-label">{{ccForm.ccNumber.$ccEagerType || 'Unknown'}} : {{ccForm.ccNumber.$valid | yesNo}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="card-number">Expira</label>
                        <div class="row" cc-exp>
                          <div class="col-xs-3">
                            <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month">
                          </div>
                          <div class="col-xs-2">
                            <input type="text" class="form-control" value="{{ccForm.ccExpMonth.$valid | yesNo}}" readonly>                   
                          </div>
                          <div class="col-xs-3">
                            <input placeholder="AA" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.expiration.year">
                          </div>
                          <div class="col-xs-2">
                            <input type="text" class="form-control" value="{{ccForm.ccExpYear.$valid | yesNo}}" readonly>                   
                          </div>
                        </div>
                      </div>
                      <div class="control-group">
                        <label label-default="" class="control-label">Código Seguridad</label>
                        <div class="controls">
                          <div class="row">
                            <div class="col-md-3">
                              <input type="text" autocomplete="off" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
                            </div>
                            <div class="col-xs-2">
                              <input type="text" class="form-control" value="{{ccForm.ccCvc.$valid | yesNo}}" readonly>                   
                            </div>
                            <div class="col-md-8">
                            </div>
                          </div>
                        </div>
                      </div>
                </fieldset>
                </div>
              </div>
            </div>
        </div>  
      </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="control-group">
                        <label label-default="" class="control-label"></label>
                        <div class="controls">
                          <button type="submit" ng-click="pagar(ccForm)" class="btn btn-success">Pagar</button> 
                          <button type="button" data-dismiss="modal" ng-click="cancel()" class="btn btn-danger">Cancelar</button>
                        </div>
                      </div>
      </div>


</script>



<style>
    .k-widget.k-window{
        z-index: 5;  top: 1em; left: 8em;
    }
    .modal-content{
        z-index: 15;  top: 5em; left: 5em;
    }
    .k-edit-field{
      baa
    }

</style>

<script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3 align="center"><b>AVISO</b></h3>
            <td class="resul"><hr style="background-color: red; height: 4px;" /></td>
            <p>No se puede crear una reserva con fecha anterior a la fecha actual</p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">Aceptar</button>
        </div>
</script>