


<div class="col-md-6 modal-content form-group ">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" align="center">Nuevo administrador</h4>
  </div>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="register()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" name="name" ng-model="registerForm.name" required>
    </div>
    <div class="form-group">
      <label>Mail</label>
      <input type="mail" class="form-control" name="mail" ng-model="registerForm.mail" required>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="check" class="form-control" name="username" ng-model="registerForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
    </div>
    <div class="form-group">
      <label>Repetir password</label>
        <input type="password" class="form-control" name="password" ng-model="registerForm.superadmin" required>
    </div>
     <div class="form-group">
      <label>Super Admin</label>
      <input type="checkbox" name="superadmin" ng-model="registerForm.superadmin" required>
    </div>
      <div align="center">
        <h1></h1>
        <button type="submit" class="btn btn-success" ng-disabled="disabled">Aceptar</button>
        <h1></h1>
      </div>
  </form>

</div>


