<h1>Usuarios</h1>
<div class="col-md-4">
<button type="button" data-toggle="modal" ng-click="open()" class="btn btn-info btn-sm">Nuevo Usuario</button>
</div>

<form>
    <div class="form-group">
      <div class="input-group">
        <div><i class="fa fa-search"></i></div>
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
      </div>      
    </div>
 </form>

  <table class="table table-striped table-bordered table-hover">
	<thead>
		<tr class='danger'>
			<td align="center"><B>DNI</B></td>
			<td align="center"><B>Nombre</B></td>
			<td align="center"><B>Apellido</B></td>
			<td align="center"><B>Mail</B></td>
			<td align="center"><B>Telefono</B></td>
			<td align="center"><B>Estado</B></td>
			<td class="col-sm-2" align="center"><B>Editar</B></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="usuario in usuarios | filter:search" class='info'>
			<td width=50px>{{usuario.dni}}</td>
			<td>{{usuario.nombre}}</td>
			<td>{{usuario.apellido}}</td>
			<td>{{usuario.mail}}</td>
			<td width=60px>{{usuario.telefono}}</td>
			<td width=100px>{{usuario.estado}}</td>
			<td align="center"><button ng-click="editUsuario(usuario)" data-toggle="modal" data-target="" class="btn btn-info btn-sm" >Edit</button>
			<button ng-click="deleteConfirm(usuario)" data-toggle="modal" data-target="" class="btn btn-danger btn-sm" >Eliminar</button>

			</td>
			
	</tbody>
</table>

<script type="text/ng-template" id="modalDialogId">
        <div class="ngdialog-message">
            <h3 align="center"><b>AVISO</b></h3>
            <td class="resul"><hr style="background-color: red; height: 4px;" /></td>
            <p>¿Está seguro que desea eliminar el usuario?</p>
            <p>Nombre: <code>{{usuarioDelete.nombre}}</code></p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(usuarioDelete)">Confirmar</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('cancel')">Cancelar</button>
        </div>
</script>

<script type="text/ng-template" id="modalDialogId2">
        <div class="ngdialog-message">
            <h3 align="center"><b>AVISO</b></h3>
            <td class="resul"><hr style="background-color: red; height: 4px;" /></td>
            <p>El DNI <code>{{newUsuario.dni}}</code> se encuentra registrado, por favor verifique.</p>
        </div>
        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('cancel')">Cerrar</button>
          </div>
</script>

<script type="text/ng-template" id="modalDialogId3">
        <div class="ngdialog-message">
            <h3 align="center"><b>AVISO</b></h3>
            <td class="resul"><hr style="background-color: red; height: 4px;" /></td>
            <p>El usuario <code>{{newUsuario.username}}</code> se encuentra registrado, por favor verifique.
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cerrar</button>
        </div>
</script>

<script type="text/ng-template" id="modalDialogId4">
        <div class="ngdialog-message">
            <h3 align="center"><b>AVISO</b></h3>
            <td class="resul"><hr style="background-color: red; height: 4px;" /></td>
            <p>El DNI <code>{{newUsuario.dni}}</code> y el usuario <code>{{newUsuario.username}}</code> se encuentra registrado, por favor verifique.
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cerrar</button>
        </div>
</script>



<script type="text/ng-template" id="usuarioNuevo.html">
<!-- Modal Torneo -->

<form id="form" name="form" role="form" data-toggle="validator">

      <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Nuevo usuario</h4>
      </div>
      <div class="modal-body">
          
            <div class="form-group" align="left">
            <label class="control-label col-sm-3" for="nombre">Usuario:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="userUsuario" ng-model="newUsuario.username" required="">
            </div>
        </div>
        <br><br>
            <div class="form-group" align="left">
            <label class="control-label col-sm-3" for="nombre">DNI:</label>
            <div class="col-sm-7">
              <input type="number" class="form-control" id="dniUsuario" ng-model="newUsuario.dni"  min = "10000000" max = "99999999" required="">
            </div>
        </div>
        <br><br>
          	<div class="form-group" align="left">
      			<label class="control-label col-sm-3" for="nombre">Nombre:</label>
      			<div class="col-sm-7">
        			<input type="text" class="form-control" id="nombreUsuario" ng-model="newUsuario.nombre" required="">
      			</div>
   			</div>
        <br><br>
          	<div class="form-group" align="left">
      			<label class="control-label col-sm-3" for="apellido">Apellido:</label>
      			<div class="col-sm-7">
        			<input type="text" class="form-control" id="apellidoUsuario" ng-model="newUsuario.apellido" required="">
      			</div>
   			</div>
          <br><br>
          	<div class="form-group" align="left">
      			<label class="control-label col-sm-3" for="email">Email:</label>
      			<div class="col-sm-7">
        			<input type="email" class="form-control" id="mailUsuario" ng-model="newUsuario.mail" required="">
      			</div>
   			</div>
        <br><br>
          	<div class="form-group" align="left">
      			<label class="control-label col-sm-3" for="tel">Teléfono:</label>
      			<div class="col-sm-7">
                <input type="number" class="form-control" id="telefonoUsuario" ng-model="newUsuario.telefono" max = "999999999999" min = "1000000" required="">
      			</div>
   			</div>
        <br><br>
          
            <div class="form-group" align="left">
                    <label class="control-label col-sm-3" for="tel">Fecha Nacimiento:</label>
                    <div class="col-sm-7">
                      <div class="input-group">
                        <input type="text" class="form-control" datetimepicker ng-model="newUsuario.fechaNac" options="options"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    </div>
                
            </div>
            <br><br>
          
       
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 text-center">
            <button type="submit" class="btn btn-success"  ng-click="guardar(newUsuario,form)" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()" data-dismiss="modal">Cancelar</button>
          </div>
    <!-- Modal content-->
  </div>
</div>
</form>

  </script>





<script type="text/ng-template" id="editarUsuario.html">
    <form id="form" name="formEdit" role="form" data-toggle="validator">
      <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" align="center">Editar Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class='col-sm-2'>
              <div class="form-group">
                <label>Usuario:</label>
                <input disabled type="text" class="form-control" id="usuarioUsuario" ng-model="newUsuario.username" required="">
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" id="nombreUsuario" ng-model="newUsuario.nombre" required="">
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" id="apellidoUsuario" ng-model="newUsuario.apellido" required="">
              </div>
            </div>
          </div>
          <div class="row" style="padding-top:15px">
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="precio">DNI:</label>
                <div class="input-group" class='col-10'>
                  <input disabled type="text" class="form-control" id="dni" ng-model='newUsuario.dni' required="">
                </div>
              </div>
            </div>          
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="sel1">Estado:</label>
                <select class="form-control" id="sel1" ng-model="newUsuario.estado" required="">
                  <option selected disabled>{{newUsuario.estado}}</option>
                  <option>Activo</option>
                  <option>Lista Negra</option>
                </select>
              </div>
            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="precio">Mail:</label>
                <div class="input-group" class='col-10'>
                  <input type="text" class="form-control" id="mail" ng-model='newUsuario.mail' placeholder="mail" required="">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class='col-sm-2'>
              <div class="form-group">
                <label>Teléfono:</label>
                <input type="numbre" class="form-control" id="telefonoUsuario" ng-model="newUsuario.telefono" maxlength = "12" minlength = "3" required="">          
              </div>
            </div>
            <div class='col-sm-2'>
                <label>Cant. Incump.:</label>
                <input type="text" class="form-control" id="cantIncumplimUsuario" ng-model="newUsuario.cantIncumplim" required="">  
            </div>
          </div>

          <div class="row">
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="tel">Fecha Nacimiento:</label>
                <div class="input-group" datetimepicker ng-model="newUsuario.fechaNac" options="options">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
              </div>

            </div>
            <div class='col-sm-2'>
              <div class="form-group">
                <label for="textPiso">Fecha Alta:</label>
                <div class="input-group" datetimepicker ng-model="newUsuario.fechaAlta" options="options" >
                        <input type="text" class="form-control" disabled="true">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>              
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 text-center">
            <button type="submit" class="btn btn-success"  ng-click="guardar(newUsuario, formEdit)" data-dismiss="modal">Guardar</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()" data-dismiss="modal">Cancelar</button>
          </div>
        </div>      
      </div>
      </form>

     
      <script type="text/javascript">

      
        $('.clockpicker').clockpicker();
        $('.clockpicker2').clockpicker();


        </script>

</script>

<style>
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
</style>

